.tabs-container {
    display: flex;
    justify-content: center;
    margin-bottom: rem;
}

.tab-sort {
    padding: 0.5rem 1rem;
    background-color: #1DB954;
    color: white;
    cursor: pointer;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0.25rem;
    transition: background-color 0.3s ease;
}

.tab-sort:hover {
    background-color: #1AA34A;
}

.section {
    display: none;
}

.section.active {
    display: block;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin: 2rem auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

.array-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.array-element {
    width: 10em;
    background-color: #0074D9;
    margin: 0 2px;
    text-align: center;
    color: black;
    transition: height 0.2s, background-color 0.2s;
}

.array-element.selected {
    background-color: #FF4136;
}

.array-element.swapped {
    background-color: #2ECC40;
}


button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

input[type="range"] {
    width: 100px;
    margin-left: 0.5rem;
}

label {
    font-weight: bold;
    margin-right: 0.5rem;
}
